.topalbum{
    height: 280px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #121212;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colors{
    color:#34C94B;
}

.cardgrid{
    display: flex;
    justify-content: space-between;
}