.card{
    background-color: #FFFFFF;
    width: 159px;
    height: 205px;
    border-radius: 10px;
}
.image{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 100%;
    width: 100%;
}
.wrapper{
    width:160px;
}

.text{
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
}

.cardchip{
    background-color:#121212;
    color: #FFFFFF;
    margin-left: 6px;
    margin-top: 6px;
}