.card{
    /* background-color: #FFFFFF; */
    width: 159px;
    height: 170px;
    border-radius: 10px;
}
.image{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 100%;
    width: 100%;
}
.wrapper{
    width:160px;
}

.text{
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 5px;
}

.banner{
    background-color: #FFFFFF;
    height: 35px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .cardchip{
        background-color:#121212;
        color: #FFFFFF;
        margin-left: 6px;
        margin-top: 6px;
    }
}

/* .cardchip{
    background-color:#121212;
    color: #FFFFFF;
    margin-left: 6px;
    margin-top: 6px;
} */